// Файл обнуляющих стилей
@import "nullstyle.scss";

// Шрифты
@import url("https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap");

// Иконочный шрифт
@import "icons";

// Переменные
$fontFamily: "Heebo";

$minWidth: 320px;
$maxWidth: 1152;
$maxWidthContainer: 856;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
