// Файл обнуляющих стилей
@import "nullstyle.scss";

html,
body {
  height: 100%;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

// Основные стили

.wrapper {
}
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.parallax {
  position: relative;
  height: 100%;

  &__montain {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &_1 {
      background: url(../../img/m_1.png) 0 0 / cover no-repeat;
    }

    &_2 {
      z-index: 1;
      background: url(../../img/m_2.png) bottom right / 45% no-repeat;
    }

    &_3 {
      z-index: 1;
      background: url(../../img/m_3.png) bottom left / 100% no-repeat;
    }
  }

  &__fog {
    background: url(../../img/fog_1.png) bottom / 100% no-repeat;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
}
.content {
  position: relative;
  &__body {
    max-width: 1170px;
    margin: 0 auto;
  }

  &__header {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 0 20px;
  }

  &__title {
    font-size: 200px;
  }

  &__subtitle {
    font-size: 120px;
  }

  &__article {
    padding: 25px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    & p {
      margin-bottom: 20px;
    }
  }
}
